@model Quiz
@{
    Layout = null;
}

<h2>Start Quiz</h2>

<div class="container-fluid">
    @using (Html.BeginForm("Exam", "Home2", FormMethod.Get, new { @id = "post_exam" }))
    {
        <div class="row" style="margin-top:20px;">
            <div class="col-sm-12" style="margin-bottom:20px;">
                <label style="margin-right:8px;">Topic</label> @Html.DropDownList("CategoryName", (SelectList)ViewBag.name, "--Select--", new { @class = "select_change" })

                <label style="margin-right:8px; margin-left:8px;">Difficulty</label> @Html.DropDownList("Difficulty", (SelectList)ViewBag.difficulty, "--Select--", new { @class = "select_change" })
            </div>

        </div>
        <button type="submit" class="btn btn-default" id="quiz_start_button"> Let's Go' </button>
        }
</div>

